# .gitignore
.env
env/.env
# Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
*.log
local_settings.py
.DS_Store

# Virtual Environment
env/
venv/
ENV/
env_*/
.venv

# Fișiere sensibile
.env
.env.local
.env.*.local

# Media & Static (în dezvoltare)
media/
staticfiles/


# IDE
.vscode/
.idea/
*.sublime-*

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log